body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #97a518;
  margin: 0;
}

.container {
  text-align: center;
  color: #ecf0f1;
  max-width: 400px;
  margin: auto;
}

h1 {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: bold;
  color:#2c1a5f;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #ecf0f1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
  color: #ff0000;
  border-radius: 5px;
}

.cell:hover {
  background-color: #bdc3c7;
}

.status-message {
  margin-top: 20px;
  font-size: 20px;
  color: #ecf0f1;
}

.restart-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color:#a82064;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
}
 
.restart-btn:hover {
  background-color: #00ffaa;
}

.game-mode {
  margin-bottom: 20px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color:#a82064 ;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #2c3e50;
}
